.row{
    margin-bottom: 15px;
}

.status-normal{
    color: #2ca02c;
}

.status-risk{ /* Use the right word later */
    color: #ff0000;
}

.visible-xs .status-text{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.hidden-xs .status-text{
    text-align: center;
    font-size: 22px;
    padding-top: 3px;
    margin-bottom: -8px;
}
.grade-report{
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}

.grade-report td{
    padding:2px;
}
.grade{
    width: 15%;
}
.subject{
    width: 85%;
}

.gpa{
    text-align: center;
    font-size: 20px;
    margin-bottom: 1px;
}

.student-info,.student-gpax,.student-adviser{
    font-size: 18px;
    text-align: center;
}
.gpax{
    text-align: center;
    font-size: 80px;
    padding-top: 10px;
    margin-top: -26px;
    margin-bottom: -4px;
}


.grade-report-header{
    text-align: center;
}

.hidden-xs .term-profile{
    width: 100%;
    /*width: 32%;*/
    /*padding-left: 2%;*/
    /*padding-right: 2%;*/
    /*margin-right: 6px;*/
    /*margin-left: 6px;*/
}

.hidden-xs .grade-report{
    margin-left: 2%;
    margin-right: 2%;
}

.hidden-xs .student-info,.hidden-xs .student-adviser,.hidden-xs .student-gpax{
    font-size: 16px;
    padding-left: 4%;
    padding-right: 4%;
    height: 170px;
}

#status-image{
    width: 60%;
}

.profile-overview{
    height: 200px;
}

.grade-report-header{
    text-align: center;
    font-size: 40px;
    color: #970000;
}