/* --- Set Font to Montserrat ---*/
body{
    font-family: 'Montserrat', serif;
    background-color: #fafafa;
}

/* --- CSS For Sign In Form ---*/
.wrapper {
    margin-top: 10%;
    /*margin-bottom: 12%;*/
 }

.form-signin {
    max-width: 420px;
    padding: 9px 38px 24px;
    margin: 0 auto;
    background-color: #eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*border: 3px rgba(0,0,0,1);*/
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 24px;
}

hr{
    margin-bottom: 12px;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorbar {
    height: 7px;
    border-top: 0;
    background: #bd0000;
    border-radius: 5px;
}

/* --- CSS For Button --- */
.btn{
    background-color: #bd0000;
    border: none;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    /*background-color: #970000;*/
    background-color: #FFFFFF;
    color: #bd0000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* --- CSS For Clique Logo --- */
.made-by-clique{
    padding-top: 2em;
}
.clique-logo{
    padding-left: 10px;
    height: 30px;
}