.grade-weight-table{
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}

.grade-weight-table td{
    padding-top :5px;
    padding-bottom: 5px;
}

.weight,.grade{
    text-align: center;
}

.header-table{
    font-size: 16px;
    color: #ff0000;
}

.hidden-xs td{
    padding-left: 5%;
    padding-right: 5%;
}
.rank-score{
    text-align: center;
    font-size: 80px;
    padding-top: 10px;
    margin-top: -26px;
    margin-bottom: -4px;
}

.rank{
    margin-top: 18px;
}

.approx-rank{
    margin-top: 10px;
}

.rank-column{
    padding-top: 14px;
}
